@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
    padding: 0rem;
}

html,
body {
    background-color: #F1F1EF;
    font-family: 'EB Garamond',
        serif;
}

h5 {
    color: #713A1D;
}

/* ----------------- Header ----------------- */
header .header-color {
    background-color: #F1F1EF
}

.color-icons a {
    color: #313642;
}

.color-icons a:hover {
    color: #d49a89;
}

header h2 {
    font-family: 'Great Vibes',
        cursive;
    color: #713A1D;
}

header a {
    font-family: 'EB Garamond',
        serif;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.box-div-center {
    text-align: center;
}

.box-div-right {
    text-align: right;
}

/* ----------------- Home ----------------- */

.home {
    /* background: url(../img/capa.jpg) center no-repeat; */
    background: url(https://i.imgur.com/FhWdrwK.jpg) center no-repeat;
    background-size: cover;
    /* background-position: center; */
    min-height: 500px;
    padding-top: 220px;
    /* Altura do texto */
    padding-bottom: 100px;
}

.home h3 {
    line-height: 110px;
    font-size: 1rem;
    font-family: 'EB Garamond',
        serif;
    color: #ffffff;
    text-align: center;
}

/* ------------ Divider section ------------*/

.divider .divider-wrapper {
    position: relative;
    bottom: 70px;
    transition: all 0.4s ease-in;
    border: 6px solid #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.divider .container {
    /* Centraliza as três imgens sobre a capa */
    width: 50%;
}

.divider img {
    width: 170px;
    height: 200px
}


/* ----------------- Sobre ----------------- */
.jumbotron {
    background-color: #d49a8944;
    /* border-style: dotted;
    border-color: #d49a8944;
    border-width: 0.3rem; */
    padding: 1rem;
    text-align: center;
}

/* ----------------- Galeria ----------------- */
.galeria .col-sm-12 .col-md-6 .col-lg-3 {
    padding-right: 30px;
    padding-left: 30px;
}

.galeria .row {
    margin-right: 0px;
    margin-left: 0px;
}

/* ----------------- Serviços ----------------- */
.servicos .box-card {
    background-color: #d49a8944;
}

/* ----------------- Contatos ----------------- */
.contatos {
    padding: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    background: linear-gradient(rgba(255, 255, 255, 0.411), rgba(248, 250, 248, 0.562)),
    /* url(../img/alianca.jpg) no-repeat; */
    url(https://i.imgur.com/mtqkLHt.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

/* ----------------- Footer ----------------- */
/* footer .social-icons {
    text-align: center;
    padding: 0px;
    margin: 0px;
} */

/* footer .social-icons li {
    display: inline-block;
    list-style: none;
    background: #303030;
} */

/* footer .social-icons li a {
    color: #ececec;
    text-decoration: none;
    font-size: 10px;
    padding: 10px 15px;
    text-align: center;
    transition: all 0.4s ease-in;

} */


/* footer .social-icons li a:hover {
    background: #d49a89;
    color: #fff;
} */

footer .color-icons {
    text-align: center;
    padding: 0px;
    margin: 0px;
}
footer .color-icons a {
    color: #d49a89;
}

footer .color-icons a:hover {
    color: #f7f7f7;
}


footer {
    /* text-align: right; */
    background-color: #313642;
    color: #d49a89;
    padding-bottom: 0.2rem;
    padding-top: .5rem;
    padding-left: 1rem;
    font-size: .7rem;
    font-family: 'Raleway',
        sans-serif;
}

footer .row {
    margin-right: 0px;
    margin-left: 0px;
}



/**************** BOOTSTRAP BREAK POINTS: ****************/

@media (min-width: 576px) {
    .divider .divider-wrapper:hover {
        bottom: 40px;
        cursor: pointer;
    }
}
/* ------------------------------------------------------- */
@media (min-width: 768px) {
    header h2 {
        font-size: 2rem;
    }

    .divider .container {
        /* Centraliza as três imgens sobre a capa */
        width: 80%;
    }

    .galeria img {
        height: 200px;
        width: 350px;
    }
}

/* ------------------------------------------------------- */
@media (min-width: 1200px) {
    header h2 {
        font-size: 3rem;
        margin-top: -1rem;
    }

    header nav {
        padding: 0%;
    }

    header a {
        font-size: 1.1rem;
    }

    .home h3 {
        font-size: 1.5rem;
    }

    .divider .container {
        /* Centraliza as três imgens sobre a capa */
        width: 50%;
    }

    .sobre p {
        font-size: 1.2rem;
    }

    h5 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    .sobre .box-p {
        margin-left: 10rem;
        margin-right: 10rem;
    }
    /* footer .social-icons {
        text-align: right;
        padding-right: 2rem;
    } */
    footer .color-icons {
         text-align: right;
         padding-right: 2rem;
    }

}